---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Contact from '../components/Contact.astro';
import Member from '../components/Member.astro';
import PersonalTraining from '../components/PersonalTraining.astro';
import Training from '../components/Training.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Stellcore">
  <main>
    <Navbar />
    <Hero />
    <PersonalTraining />
    <Member />
    <div class="horizontal-section">
      <Training />
    </div>
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  main {
    overflow-x: hidden;
  }
  .horizontal-section {
    overflow-x: visible;
    width: 100%;
  }
</style>